body {
    background-color: #f4f4f4;
}

.navbar-brand img {
    width: 150px;
}

h2 {
    color: #5a5a5a;
    padding-top: 30px;
}

footer{
    background-color: #c4c4c4;
    margin-top: 50px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: black;
    text-decoration: none;
}